
FuncijuPamoka1/FunkcijuPamoka1/FunkcijuPamoka1/obj/

FuncijuPamoka1/FunkcijuPamoka1/FunkcijuPamoka1/bin/

NamuDarbai/SkaiciusZodzhiais_NamuDarbai/SkaiciusZodzhiais_NamuDarbai/bin/

NamuDarbai/SkaiciusZodzhiais_NamuDarbai/SkaiciusZodzhiais_NamuDarbai/obj/

NamuDarbai/SkaiciusZodzhiais_NamuDarbai/SkaiciusZodzhiais_NamuDarbai\.sln

NamuDarbai/SkaiciusZodzhiais_NamuDarbai/SkaiciusZodzhiais_NamuDarbai/SkaiciusZodzhiais_NamuDarbai\.csproj\.user
/.project
